/* CONTAINER */
div.noseti-container {
	box-sizing: border-box;
	padding: 10px;
	width: 300px;
	border: 2px solid #3399FF;
	border-radius: 2px;
}

/* TEXT */
span.noseti-text {
	margin: 0;
	margin-bottom: 5px;
}
span.noseti-text.left {
	float: left;
}
span.noseti-text.right {
	float: right;
}

/* GENERIC METER */
meter.noseti-bar {
	margin: 0;
	width: 100%;
	height: 25px;

	background: none;
}
meter.noseti-bar::-webkit-meter-bar {
	background: none;
}
meter.noseti-bar::-webkit-meter-optimum-value {
	background: none;
}

/* DISK METER */
meter.noseti-bar.disk {
	background-color: #FFFFFF;
	border: 1px solid #3399FF;
}
meter.noseti-bar.disk::-moz-meter-bar {
	background: #3399FF;
}
meter.noseti-bar.disk::-webkit-meter-bar {
	background-color: #FFFFFF;
	border: 1px solid #3399FF;
}
meter.noseti-bar.disk::-webkit-meter-optimum-value {
	background-color: #3399FF;
}

/* TEMP METER */
meter.noseti-bar.temp {
	background-color: #FFFFFF;
	border: 1px solid #3399FF;
}
meter.noseti-bar.temp::-moz-meter-bar {
	background-image: linear-gradient(
		90deg,
		#3399FF 0%,
		#FF3399 100%
	);
}
meter.noseti-bar.temp::-webkit-meter-bar {
	background-color: #FFFFFF;
	border: 1px solid #3399FF;
}
meter.noseti-bar.temp::-webkit-meter-optimum-value {
	background-color: #3399FF;
}

/* UPTIME METER */
meter.noseti-bar.uptime {
	background-color: #FFFFFF;
	border: 1px solid #3399FF;
}
meter.noseti-bar.uptime::-moz-meter-bar {
	background: #3399FF;
}
meter.noseti-bar.uptime::-webkit-meter-bar {
	background-color: #FFFFFF;
	border: 1px solid #3399FF;
}
meter.noseti-bar.uptime::-webkit-meter-optimum-value {
	background-color: #3399FF;
}
